<style>
    #menu li {
        text-align: left;
    }
</style>
<ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/executive">Executive</a></li>
    <li><a href="/subcommissions">Subcommissions</a></li>
    <li><a href="/chart">Chart/Time Scale</a></li>
    <li><a href="/gssps/">GSSPs</a></li>
    <li><a href="/archives">Archives</a></li>
    <li><a href="/guide/">Stratigraphic Guide</a></li>
    <li><a href="/gbdb">Geobiodiversity Database</a></li>
    <li><a href="/statutes">Statutes & Guidelines</a></li>
    <li><a href="/prizes">Prizes</a></li>
    <li><a href="/publications">Publications</a></li>
    <li><a href="/links">Links</a></li>
    <li>
        Patterns
        <ul>
            <a href="/pattern/001">Pattern 001</a>
        </ul>
    </li>
</ul>
